/* common */
body {
  margin: 0;
}
h1 {
  margin: 0;
  line-height: 100px;
}
.header {
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}

/* common */
.content ul li {
  display: flex;
  display: inline-block;
  width: 200px;
  margin: 0;
  padding: 0;
}